
.feedback{
  align-items: center;
  margin: auto;
}

.usersubmit input{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.usersubmit input:hover{
  background: #563434;
}